# Create Testing Data

Same process as for training data

# Items

## Days online

how many days has the item been available on zentrada at the moment the user clicks the item

In [1]:
import pandas as pd
import numpy as np
import pickle 
from datetime import timedelta

In [2]:
item_data = pd.read_pickle('data/training_data/articles_info_final.pkl')

In [3]:
log = pd.read_pickle('data/testing_data/target_test.pkl')

In [25]:
len(log) #1249179

1251600

In [4]:
item_data.head()

,anbieter_artikelnummer,anbieterID,erstanlageDatum,stueck_pro_ve,anbietermarktplatz,warengruppe,preis_euro,text_vec
0,0000400435550,4004.0,2016-03-04 14:39:47+00:00,12.0,DE,Reiseartikel_5199,2.10,"[0.7984229, 0.09205151, -0.30848747, 0.669923,..."
1,000040053900017-002,4005.0,2018-07-09 12:51:10+00:00,1.0,DE,sonstige Taschen_5202,59.95,"[0.19540575, -0.07194629, -0.34633487, -0.2459..."
2,0000403433309,4034.0,2018-11-08 13:04:42+00:00,12.0,DE,Kerzen & Kerzenhalter_5107,2.79,"[0.5111147, 0.018874569, 0.22680217, 0.7675127..."
3,0000403434036,4034.0,2016-11-29 15:31:47+00:00,20.0,DE,Lichterketten_5114,2.10,"[0.34992826, -0.059115075, -0.25212124, -0.110..."
4,00004034LB-03,4034.0,2017-11-15 14:27:01+00:00,10.0,DE,Lichterketten_5114,1.89,"[0.13192588, -0.19249268, -0.3639368, -0.47083..."

In [5]:
item_data = item_data[['anbieter_artikelnummer', 'erstanlageDatum']]

In [6]:
df = pd.merge(log, item_data, how = 'left' )

In [7]:
df.head()

,userID,anbieter_artikelnummer,datum_click,anbieterID,datum_pick,pick,erstanlageDatum
0,1677343,0070854200002534,2019-06-28 21:18:42+00:00,708542,2019-07-01 02:00:00+00:00,1.0,2017-11-06 09:25:25+00:00
1,1677430,00100620101051000097,2019-06-28 21:18:45+00:00,100620,NaT,0.0,2014-03-18 19:21:07+00:00
2,1657316,00147265eG6260A,2019-06-28 21:18:48+00:00,147265,NaT,0.0,2016-03-02 21:09:54+00:00
3,1657316,006589155907619815092,2019-06-28 21:18:56+00:00,658915,NaT,0.0,2016-03-24 23:26:25+00:00
4,1564925,00631847DD47563,2019-06-28 21:19:03+00:00,631847,2019-06-28 02:00:00+00:00,1.0,2017-04-28 15:52:02+00:00

In [87]:
test = df.sample(20).reset_index()

In [13]:
test.dtypes

userID                                  int64
anbieter_artikelnummer                 object
datum_click               datetime64[ns, UTC]
anbieterID                              int64
datum_pick                datetime64[ns, UTC]
pick                                  float64
erstanlageDatum           datetime64[ns, UTC]
dtype: object

In [144]:
df.datum_click[1] - df.erstanlageDatum[1]

Timedelta('73 days 06:48:15')

Calculate the time online

In [8]:
df['online'] = (df.datum_click - df.erstanlageDatum)

In [9]:
df.head()

,userID,anbieter_artikelnummer,datum_click,anbieterID,datum_pick,pick,erstanlageDatum,online
0,1677343,0070854200002534,2019-06-28 21:18:42+00:00,708542,2019-07-01 02:00:00+00:00,1.0,2017-11-06 09:25:25+00:00,599 days 11:53:17
1,1677430,00100620101051000097,2019-06-28 21:18:45+00:00,100620,NaT,0.0,2014-03-18 19:21:07+00:00,1928 days 01:57:38
2,1657316,00147265eG6260A,2019-06-28 21:18:48+00:00,147265,NaT,0.0,2016-03-02 21:09:54+00:00,1213 days 00:08:54
3,1657316,006589155907619815092,2019-06-28 21:18:56+00:00,658915,NaT,0.0,2016-03-24 23:26:25+00:00,1190 days 21:52:31
4,1564925,00631847DD47563,2019-06-28 21:19:03+00:00,631847,2019-06-28 02:00:00+00:00,1.0,2017-04-28 15:52:02+00:00,791 days 05:27:01

Convert it in days

In [10]:
df['days_online'] = [df.online[i].days for i in range(len(df))]

In [11]:
df.drop('online', axis = 1, inplace = True)
df.head()

,userID,anbieter_artikelnummer,datum_click,anbieterID,datum_pick,pick,erstanlageDatum,days_online
0,1677343,0070854200002534,2019-06-28 21:18:42+00:00,708542,2019-07-01 02:00:00+00:00,1.0,2017-11-06 09:25:25+00:00,599.0
1,1677430,00100620101051000097,2019-06-28 21:18:45+00:00,100620,NaT,0.0,2014-03-18 19:21:07+00:00,1928.0
2,1657316,00147265eG6260A,2019-06-28 21:18:48+00:00,147265,NaT,0.0,2016-03-02 21:09:54+00:00,1213.0
3,1657316,006589155907619815092,2019-06-28 21:18:56+00:00,658915,NaT,0.0,2016-03-24 23:26:25+00:00,1190.0
4,1564925,00631847DD47563,2019-06-28 21:19:03+00:00,631847,2019-06-28 02:00:00+00:00,1.0,2017-04-28 15:52:02+00:00,791.0

In [151]:
df.to_pickle('data/training_data/target_train_process.pkl')

## Month of the year

Calculate the month of the year at time of item click - show seasonality

In [4]:
df = pd.read_pickle('data/training_data/target_train_process.pkl')

In [5]:
df.head()

,userID,anbieter_artikelnummer,datum_click,anbieterID,datum_pick,pick,erstanlageDatum,days_online
0,1575009,00144119AHQ1067,2017-09-15 00:00:03+00:00,144119,2017-09-15 02:00:00+00:00,1.0,2017-09-11 11:18:00+00:00,3.0
1,804304,00714655006146,2017-09-15 00:00:04+00:00,714655,2017-09-15 02:00:00+00:00,1.0,2017-07-03 17:11:49+00:00,73.0
2,1575009,00144119EP0157,2017-09-15 00:00:17+00:00,144119,2017-09-15 02:00:00+00:00,1.0,2016-09-14 10:25:09+00:00,365.0
3,498808,00513388D712 N,2017-09-15 00:00:19+00:00,513388,2018-02-13 01:00:00+00:00,1.0,2015-09-25 10:05:45+00:00,720.0
4,1541110,00364442CAP-87,2017-09-15 00:00:24+00:00,364442,NaT,0.0,2016-03-18 08:14:18+00:00,545.0

In [12]:
df.drop(['anbieterID', 'datum_pick', 'erstanlageDatum'], axis = 1, inplace = True)

In [13]:
df.head()

    userID anbieter_artikelnummer               datum_click  pick  days_online
0  1677343       0070854200002534 2019-06-28 21:18:42+00:00   1.0        599.0
1  1677430   00100620101051000097 2019-06-28 21:18:45+00:00   0.0       1928.0
2  1657316        00147265eG6260A 2019-06-28 21:18:48+00:00   0.0       1213.0
3  1657316  006589155907619815092 2019-06-28 21:18:56+00:00   0.0       1190.0
4  1564925        00631847DD47563 2019-06-28 21:19:03+00:00   1.0        791.0

extract month

In [14]:
df['month'] = [df.datum_click[i].month for i in range(len(df))]

In [15]:
df.head()

,userID,anbieter_artikelnummer,datum_click,pick,days_online,month
0,1677343,0070854200002534,2019-06-28 21:18:42+00:00,1.0,599.0,6
1,1677430,00100620101051000097,2019-06-28 21:18:45+00:00,0.0,1928.0,6
2,1657316,00147265eG6260A,2019-06-28 21:18:48+00:00,0.0,1213.0,6
3,1657316,006589155907619815092,2019-06-28 21:18:56+00:00,0.0,1190.0,6
4,1564925,00631847DD47563,2019-06-28 21:19:03+00:00,1.0,791.0,6

In [19]:
df.to_pickle('data/training_data/target_train_done.pkl')

# User

Add the user's marketplace to the log data

In [16]:
df.head()

,userID,anbieter_artikelnummer,datum_click,pick,days_online,month
0,1677343,0070854200002534,2019-06-28 21:18:42+00:00,1.0,599.0,6
1,1677430,00100620101051000097,2019-06-28 21:18:45+00:00,0.0,1928.0,6
2,1657316,00147265eG6260A,2019-06-28 21:18:48+00:00,0.0,1213.0,6
3,1657316,006589155907619815092,2019-06-28 21:18:56+00:00,0.0,1190.0,6
4,1564925,00631847DD47563,2019-06-28 21:19:03+00:00,1.0,791.0,6

In [17]:
user = pd.read_csv("data/raw_data/userstammdaten.csv", sep = ";", encoding = 'ISO-8859-15')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
user.head()

,Unnamed: 0,userID,erstRegMarktplatz,nachname,firma,userLand,plz,uid,registrierungsdatum,statusMitgliedschaft,...,herkunft,unternehmenstyp,branchenkompetenz,betreuer,betreuerdatum,welcomeDatum,welcomeStatus,userklasse,userKlasseSeit,userKlasseAlt
0,1,111,DE,zentrada,Schimmel Media Verlag GmbH & CoKG,Deutschland,97074,NaN,2002-09-30 13:12:00,Account freigegeben,...,NaN,NaN,NaN,NaN,NaN,NaN,Account gesperrt,admin,NaN,admin
1,2,137,DE,Mosthaf,wapp consult GmbH,Deutschland,97076,DE814217770,2002-10-02 19:30:00,Account freigegeben,...,NaN,Stationärer Einzelhandel,NaN,NaN,NaN,2012-11-15 12:11:14,angerufen,admin,NaN,admin
2,3,139,DE,Schloo,zentrada Europe GmbH & Co KG,Deutschland,97076,DE813805341,2002-10-08 20:33:00,Account freigegeben,...,NaN,Stationärer Einzelhandel,Haushalt & Küche,"Ingo, Schloo",2018-01-24 13:18:35,NaN,Account gesperrt,admin,NaN,admin
3,4,155,DE,Schloo,msv,Deutschland,97082,NaN,2002-10-15 15:22:00,Account gesperrt,...,NaN,NaN,NaN,NaN,NaN,NaN,Account gesperrt,inactiveBasic,2015-06-12 02:00:00,inactiveBasic
4,5,158,DE,Schloo,VaW GmbH,Deutschland,97218,NaN,2002-10-18 18:37:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Account gesperrt,NaN,NaN,NaN

In [19]:
user = user[['userID', 'erstRegMarktplatz']]

In [20]:
df = pd.merge(df, user, how = "left", on = "userID")

In [21]:
df.head()

,userID,anbieter_artikelnummer,datum_click,pick,days_online,month,erstRegMarktplatz
0,1677343,0070854200002534,2019-06-28 21:18:42+00:00,1.0,599.0,6,DE
1,1677430,00100620101051000097,2019-06-28 21:18:45+00:00,0.0,1928.0,6,NL
2,1657316,00147265eG6260A,2019-06-28 21:18:48+00:00,0.0,1213.0,6,DE
3,1657316,006589155907619815092,2019-06-28 21:18:56+00:00,0.0,1190.0,6,DE
4,1564925,00631847DD47563,2019-06-28 21:19:03+00:00,1.0,791.0,6,FR

In [22]:
len(df)

1251600

In [23]:
sum(pd.isnull(df['erstRegMarktplatz'] == True))

0

In [27]:
len(df[pd.isnull(df['erstRegMarktplatz']) == False])

1249179

In [28]:
df.to_pickle('data/testing_data/target_test_done.pkl')