# Transform Training Data for Modelling

In [2]:
import pandas as pd
import numpy as np
import pickle 
from datetime import timedelta
from keras.preprocessing.sequence import pad_sequences

Using TensorFlow backend.
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
import sqlalchemy 
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime, Float
from sqlalchemy import create_engine, MetaData, Table, inspect
import psycopg2
from sqlalchemy.dialects import postgresql
import datetime

In [29]:
DATABASE_URI = 'postgres+psycopg2://postgres:*Klavier1@host.docker.internal:5432/recommender'

engine = create_engine(DATABASE_URI)

# Full Pipeline

Run in batches and save data to db

In [ ]:
### Gibt noch NAs !!!! z.B. index 45030 - wie kann das sein ??? - klar, habe nicht alle artikel mit in die db...

In [5]:
data = pd.read_pickle('training_data/target_train_done.pkl')

In [30]:
meta = MetaData(engine)
item_enc = Table('item_enc', meta, autoload=True)
target_training_enc = Table('target_training_enc', meta, autoload=True)

In [18]:
len(data)

11264404

In [26]:
data_new = data[7150000:].reset_index()#data[8679999:].reset_index() # 5479999

In [27]:
data_new.head()

,index,userID,anbieter_artikelnummer,datum_click,pick,days_online,month,erstRegMarktplatz
0,7150000,871340,00373548RL-CUT24_2,2018-11-14 12:55:25+00:00,0.0,193.0,11,ES
1,7150001,879456,0001017612096,2018-11-14 12:55:27+00:00,0.0,197.0,11,NL
2,7150002,1623689,0034309260767,2018-11-14 12:55:28+00:00,1.0,2646.0,11,FR
3,7150003,1625292,00477078EM12,2018-11-14 12:55:30+00:00,0.0,54.0,11,EU
4,7150004,1601824,00690052k858BRR,2018-11-14 12:55:32+00:00,1.0,40.0,11,FR

In [28]:
len(data_new)

4114404

In [31]:
def transform_log(df):
    df1 = pd.DataFrame({"index" : df['index'], 
                        'datum_click' : df.datum_click, 
                        'anbieter_artikelnummer': df.anbieter_artikelnummer,
                       'userID' : df.userID, 
                      'month_enc' : df.month})
    df1['days_online_std'] = std_days_online.transform(df[['days_online']])
    #df1['month_enc'] = (label_enc_month.transform(df['month']) + 1).tolist()
    df1['userMkt_enc'] = (label_enc_mkt.transform(df.erstRegMarktplatz.fillna("EU").values) + 1 ).tolist() # not doo in real, already in userTable
    df1["pick"] = df.pick
    return(df1)

def get_item_and_user (df):
    # item
    item =  pd.read_sql("SELECT * from item_enc WHERE anbieter_artikelnummer = %s", engine , params = (df.anbieter_artikelnummer,))
    #item = item.fillnan(value = 0)
    df_item = pd.merge(df, item, how = 'left', on = 'anbieter_artikelnummer')
    df_item = df_item.dropna() # filter all rows without item-embedding
    # user data based on last clicks 
    # usually first need to get the user data (MKT & last clicked from db)
    if len(df.clicked_before.values[0]) > 0:
        items_clicked = engine.execute(sqlalchemy.select([item_enc]).where(item_enc.c.anbieter_artikelnummer.in_(df.clicked_before.values[0])))
        # reformat item data of user
        result_clicked = []
        for row in items_clicked:
            result_clicked.append(row)
        user_detail = pd.DataFrame(result_clicked)
        if len(user_detail) > 0:
            user_detail.columns = items_clicked.keys()
            # make list
            anbieterID_enc = user_detail.anbieterID_enc.values.tolist()
            anbietermarktplatz_enc = user_detail.anbietermarktplatz_enc.values.tolist()
            warengruppe_enc = user_detail.warengruppe_enc.values.tolist()
            text_vec = np.array((user_detail.text_vec).values.tolist()[-50:]).mean(axis = 0).tolist() ## only use last 50 !
            preis_std = np.array((user_detail.preis_std).values.tolist()).mean(axis = 0)
            minVE_std = np.array((user_detail.minVE_std).values.tolist()).mean(axis = 0)
            user = pd.DataFrame({'userID' : df.userID, 
                             'anbieterID_enc' : [anbieterID_enc], 
                             'anbietermarktplatz_enc' : [anbietermarktplatz_enc], 
                             'warengruppe_enc' : [warengruppe_enc], 
                             'text_vec' : [text_vec],
                             'preis_std' : preis_std, 
                             'minVE_std' : minVE_std})
        else:
            user = pd.DataFrame({'userID' : df.userID, 
                             'anbieterID_enc' : [[]], 
                             'anbietermarktplatz_enc' : [[]], 
                             'warengruppe_enc' : [[]], 
                             'text_vec' : [[0] * 150],
                             'preis_std' : 0, 
                             'minVE_std' : 0})
    else:
        user = pd.DataFrame({'userID' : df.userID, 
                         'anbieterID_enc' : [[]], 
                         'anbietermarktplatz_enc' : [[]], 
                         'warengruppe_enc' : [[]], 
                         'text_vec' : [[0] * 150],
                         'preis_std' : 0, 
                         'minVE_std' : 0})
        
    df_return = pd.merge(df_item, user, how = "left", on = "userID", suffixes = ("", "_user"))
    return (df_return)

In [ ]:
now = datetime.datetime.now()
print ("Start time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))
label_enc_mkt = pickle.load( open( "models/preprocessing/label_mkt.pkl", "rb" ) )
label_enc_month = pickle.load (open( "models/preprocessing/label_month.pkl", "rb" ) )
std_days_online = pickle.load (open( "models/preprocessing/scaler_days_online.pkl", "rb" ) )

batches_start = list(range(0, len(data_new), 50000)) # data
batches_end = batches_start[1:]
batches_end.append(len(data_new)) # data


for i,v in zip(batches_start, batches_end):
    
    # Transform log data
    data_tr = transform_log(data_new[i:v]).reset_index(drop = True)
    
    # Create user_clicks
    clicked_before = []
    for r in range(len(data_tr)):
        clicked = data[(data.userID == data_tr.userID[r]) & (data.datum_click < (data_tr.datum_click[r] - timedelta(1)))]
        clicked_before.append(clicked.anbieter_artikelnummer.values.tolist()[-200:])
    data_tr['clicked_before'] = clicked_before
    
    # Get user & item infos 
    list_df =[]
    for n in range(len(data_tr)):
        transformed = get_item_and_user(data_tr[n:n+1]) # data_tr
        list_df.append(transformed)
    final_df = pd.concat(list_df, sort = True)
    final_df.to_sql('target_training_enc', engine, index = False, if_exists = 'append')
    now = datetime.datetime.now()
    print ("End time : ", v)
    print (now.strftime("%Y-%m-%d %H:%M:%S"))

Start time :
2019-11-21 08:15:27
End time :  50000
2019-11-21 09:29:58
End time :  100000
2019-11-21 10:45:52
End time :  150000
2019-11-21 12:02:26
End time :  200000
2019-11-21 13:17:49
End time :  250000
2019-11-21 14:34:42
End time :  300000
2019-11-21 15:51:37
End time :  350000
2019-11-21 17:08:38
End time :  400000
2019-11-21 18:22:50
End time :  450000
2019-11-21 19:38:02
End time :  500000
2019-11-21 20:52:34
End time :  550000
2019-11-21 22:09:09
End time :  600000
2019-11-21 23:24:05
End time :  650000
2019-11-22 00:40:53
End time :  700000
2019-11-22 01:56:05
End time :  750000
2019-11-22 03:12:13
End time :  800000
2019-11-22 04:26:24
End time :  850000
2019-11-22 05:42:12
End time :  900000
2019-11-22 06:57:40
End time :  950000
2019-11-22 08:13:17
End time :  1000000
2019-11-22 09:32:01
End time :  1050000
2019-11-22 10:50:03
End time :  1100000
2019-11-22 12:07:24
End time :  1150000
2019-11-22 13:25:48
End time :  1200000
2019-11-22 14:43:41
End time :  1250000
2019-11-22 16:01:02
End time :  1300000
2019-11-22 17:18:42
End time :  1350000
2019-11-22 18:40:00
End time :  1400000
2019-11-22 19:54:02
End time :  1450000
2019-11-22 21:08:06
End time :  1500000
2019-11-22 22:23:02
End time :  1550000
2019-11-22 23:37:58
End time :  1600000
2019-11-23 00:52:03
End time :  1650000
2019-11-23 02:06:32
End time :  1700000
2019-11-23 03:22:13
End time :  1750000
2019-11-23 04:36:24
End time :  1800000
2019-11-23 05:51:35
End time :  1850000
2019-11-23 07:07:32
End time :  1900000
2019-11-23 08:21:32
End time :  1950000
2019-11-23 09:36:53
End time :  2000000
2019-11-23 10:51:24
End time :  2050000
2019-11-23 12:06:18
End time :  2100000
2019-11-23 13:21:30
End time :  2150000
2019-11-23 14:36:06
End time :  2200000
2019-11-23 15:51:37
End time :  2250000
2019-11-23 17:06:10
End time :  2300000
2019-11-23 18:20:49
End time :  2350000
2019-11-23 19:36:23
End time :  2400000
2019-11-23 20:51:06
End time :  2450000
2019-11-23 22:06:15
End time :  2500000
2019-11-23 23:22:16
End time :  2550000
2019-11-24 00:38:11
End time :  2600000
2019-11-24 01:52:45
End time :  2650000
2019-11-24 03:07:30
End time :  2700000
2019-11-24 04:22:49
End time :  2750000
2019-11-24 05:38:33
End time :  2800000
2019-11-24 06:54:05

In [25]:
final_df.to_sql('target_training_enc', engine, index = False, if_exists = 'append')

In [24]:
final_df # 5529999 but in db last is 5479999

,anbieterID_enc,anbieterID_enc_user,anbieter_artikelnummer,anbietermarktplatz_enc,anbietermarktplatz_enc_user,clicked_before,datum_click,days_online_std,index,minVE_std,...,month_enc,pick,preis_std,preis_std_user,text_vec,text_vec_user,userID,userMkt_enc,warengruppe_enc,warengruppe_enc_user
0,3,"[5, 80, 124, 124, 124, 124, 125, 125, 125, 125...",00004034WM-01,1,"[1, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[00733671627312, 00733671321090, 0073367133014...",2018-11-11 22:11:00+00:00,7.534416,7100000,0.179944,...,11,0.0,-0.128269,-0.064543,"[-0.4696895182132721, -2.3100690841674805, -1....","[-0.5253243042528629, -0.19651226609945296, -0...",1585765,1,32,"[223, 171, 107, 107, 107, 157, 70, 177, 174, 7..."
0,176,"[31, 31, 31, 63, 63, 63, 63, 63, 80, 80, 80, 8...",0033785392763,7,"[1, 1, 1, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...","[00716286PAW2300-2764, 00716286PAW09059, 00716...",2018-11-11 22:11:05+00:00,-0.567300,7100001,-0.007314,...,11,0.0,-0.066202,-0.050008,"[0.2913971245288849, 0.24839240312576294, -0.3...","[0.4641091258823872, -0.3993157682567835, -0.0...",1590313,1,178,"[177, 95, 156, 189, 65, 195, 217, 189, 181, 96..."
0,427,"[1, 1, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63,...",00693359DT0810622WA,2,"[1, 1, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...","[0044709938260/SN41021, 0044709928425/SN38389,...",2018-11-11 22:11:07+00:00,0.223794,7100002,0.002542,...,11,0.0,-0.116984,-0.098492,"[-0.11390876770019531, -0.31224581599235535, -...","[-0.19740306541323663, -0.6060046756267548, -0...",1551316,5,113,"[32, 32, 194, 157, 157, 189, 194, 158, 194, 15..."
0,432,"[432, 432, 432, 432, 432, 432, 432, 432, 432, ...",00694944LA10067,4,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[00694944PA9424, 00694944SH1541, 00694944KU625...",2018-11-11 22:11:08+00:00,-0.751072,7100003,0.002542,...,11,0.0,-0.104365,-0.087563,"[-0.27158355712890625, -0.7408949136734009, -0...","[0.007525314046069979, -0.4118997558671981, -0...",1630598,4,120,"[167, 112, 113, 113, 205, 113, 112, 113, 211, ..."
0,284,[],00511059SFI-2729,2,[],[],2018-11-11 22:11:09+00:00,-0.854334,7100004,-0.015527,...,11,0.0,0.065319,0.000000,"[0.0978781133890152, 0.6724487543106079, -0.88...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1639936,1,95,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,177,[],0034309218644,1,[],[],2018-11-14 12:55:04+00:00,-0.819330,7149995,0.022253,...,11,0.0,-0.117497,0.000000,"[-0.5390743613243103, -0.8253070116043091, -0....","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1640239,6,162,[]
0,261,"[75, 116, 125, 125, 125, 195, 195, 244, 244, 2...",00477078B16706 MIX,8,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 8, 8, 8, 8, ...","[0022024520351, 00481348MB-13001, 007085420000...",2018-11-14 12:55:06+00:00,-0.479790,7149996,-0.000743,...,11,0.0,-0.023158,-0.074749,"[0.7163301110267639, -0.0820312574505806, 0.56...","[0.5861081410501454, -0.14221074255938465, 0.3...",1639153,3,84,"[177, 71, 177, 177, 71, 177, 189, 177, 84, 84,..."
0,32,[],0004335012695,1,[],[],2018-11-14 12:55:17+00:00,1.466443,7149997,-0.008956,...,11,0.0,-0.010803,0.000000,"[-0.44206294417381287, 1.4002736806869507, 0.0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1640344,1,229,[]
0,261,"[177, 177, 323, 380, 380, 380, 380, 380, 380, ...",00477078BI689 MIX,8,"[1, 1, 8, 8, 8, 8, 8, 8, 8, 8, 8, 4, 4, 3, 3]","[00673855GLAMZA - Masque PN, 00565596M1349, 00...",2018-11-14 12:55:20+00:00,-0.404531,7149998,-0.008956,...,11,0.0,-0.009192,-0.101955,"[1.0044605731964111, -0.4067958891391754, 0.84...","[0.3457694674531619, 0.16559373637040456, -0.2...",1625292,3,138,"[29, 62, 216, 29, 62, 62, 62, 62, 37, 62, 126,..."
0,177,[],0034309240185,1,[],[],2018-11-14 12:55:25+00:00,2.413306,7149999,0.140521,...,11,0.0,-0.129500,0.000000,"[-0.35312381386756897, -0.4972432553768158, 0....","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1640239,6,32,[]

--------------------------------------------------

# Process of Creating the Pipelines

## Create Table for Result

In [8]:
meta = MetaData(engine)
target_training_enc = Table('target_training_enc', meta,
                     # info
                 Column('index', Integer, primary_key=True),
                 Column('datum_click', DateTime),
                 Column('anbieter_artikelnummer', String),
                 Column('userid', String),
                 Column('clicked_before', postgresql.ARRAY(String)),
                     # target
                 Column('pick', Float),
                     # context
                 Column('days_online_std', Float),
                 Column('month_enc', Integer),
                     # item
                 Column('anbietermarktplatz_enc', Integer),
                 Column('anbieterid_enc', Integer),
                 Column('warengruppe_enc', Integer),
                 Column('text_vec', postgresql.ARRAY(Float)),
                 Column('preis_std', Float),
                 Column('minve_std', Float), 
                     # user
                 Column('usermkt_enc', Integer),
                 Column('anbieterid_enc_user', postgresql.ARRAY(Integer)),
                 Column('anbietermarktplatz_enc_user', postgresql.ARRAY(Integer)),
                 Column('warengruppe_enc_user', postgresql.ARRAY(Integer)),
                 Column('text_vec_user', postgresql.ARRAY(Float)),
                 Column('preis_std_user', Float),
                 Column('minve_std_user', Float))
target_training_enc.create()

In [9]:
meta = MetaData(engine)

target_training_enc = Table('target_training_enc', meta, autoload=True)

In [7]:
# if need to delete table
#target_training_enc.drop(engine)

## Create Training-Data

In [7]:
data = pd.read_pickle('training_data/target_train_done.pkl')

In [7]:
meta = MetaData(engine)
item_enc = Table('item_enc', meta, autoload=True)

In [8]:
data.head()

,userID,anbieter_artikelnummer,datum_click,pick,days_online,month,erstRegMarktplatz
0,1575009,00144119AHQ1067,2017-09-15 00:00:03+00:00,1.0,3.0,9,IT
1,804304,00714655006146,2017-09-15 00:00:04+00:00,1.0,73.0,9,FR
2,1575009,00144119EP0157,2017-09-15 00:00:17+00:00,1.0,365.0,9,IT
3,498808,00513388D712 N,2017-09-15 00:00:19+00:00,1.0,720.0,9,DE
4,1541110,00364442CAP-87,2017-09-15 00:00:24+00:00,0.0,545.0,9,DE

Jump down to full pipeline !!

## Train and save imputer

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [9]:
#### leave out since its the same ! 
# # month
# label_enc_month = LabelEncoder()

# #Calling methods on our OneHotEncoder object
# label_enc_month.fit( data.month.values) #returns nothing
# pickle.dump(label_enc_month, open("models/preprocessing/label_month.pkl", "wb"))
# #transformed_cat = one_hot_enc.transform( item_cat ) #returns something

In [14]:
std_days_online = StandardScaler()

std_days_online.fit( data.days_online.values.reshape(-1,1))
pickle.dump(std_days_online, open("models/preprocessing/scaler_days_online.pkl", "wb"))
#transformed_cont = std.transform(transformed_cont)

## Transform data

In [9]:
data = data[50000:]

In [10]:
len(data)

11214404

In [227]:
label_enc_mkt = pickle.load( open( "models/preprocessing/label_mkt.pkl", "rb" ) )
label_enc_month = pickle.load (open( "models/preprocessing/label_month.pkl", "rb" ) )
std_days_online = pickle.load (open( "models/preprocessing/scaler_days_online.pkl", "rb" ) )

In [137]:
# def transform_log(df):
#     df1 = pd.DataFrame({'datum_click' : df.datum_click, 
#                         'anbieter_artikelnummer': df.anbieter_artikelnummer,
#                        'userID' : df.userID})
#     df1['days_online_std'] = std_days_online.transform(df[['days_online']])
#     df1['month_enc'] = label_enc_month.transform(df['month']).tolist()
#     df1['userMkt_enc'] = label_enc_mkt.transform(df.erstRegMarktplatz.fillna("EU").values).tolist() # not doo in real, already in userTable
#     df1["pick"] = df.pick
#     return(df1)

In [228]:
# always + 1 to be able to use zero padding and masking in NN
def transform_log(df):
    df1 = pd.DataFrame({'datum_click' : df.datum_click, 
                        'anbieter_artikelnummer': df.anbieter_artikelnummer,
                       'userID' : df.userID, 
                      'month_enc' : df.month})
    df1['days_online_std'] = std_days_online.transform(df[['days_online']])
    #df1['month_enc'] = (label_enc_month.transform(df['month']) + 1).tolist()
    df1['userMkt_enc'] = (label_enc_mkt.transform(df.erstRegMarktplatz.fillna("EU").values) + 1 ).tolist() # not doo in real, already in userTable
    df1["pick"] = df.pick
    return(df1)

In [139]:
data_tr = transform_log(data)

In [210]:
data_tr.head()

,index,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before
0,40000,2017-09-17 16:02:27+00:00,0013700270541-08/29,872428,-0.726569,8,3,1.0,[]
1,40001,2017-09-17 16:02:30+00:00,"00217255090,61-1929",1572127,2.184028,8,1,1.0,[]
2,40002,2017-09-17 16:02:33+00:00,00382446QEL10333,1569914,-0.829831,8,5,0.0,"[00101045PP14005, 0021013500936, 004770784009 ..."
3,40003,2017-09-17 16:02:33+00:00,0034309264084,1582652,-0.029986,8,3,1.0,"[00518501428, 0035042810056666, 00694944RG5755..."
4,40004,2017-09-17 16:02:34+00:00,0043590001_2177,1582533,2.283790,8,3,0.0,[]

In [141]:
len(data_tr)

50000

## Calculate Clicks before - usually alread in User table

In [142]:
clicked_before = []

for i in range(len(data)):
    clicked = data[(data.userID == data.userID[i]) & (data.datum_click < (data.datum_click[i] - timedelta(1)))]
    clicked_before.append(clicked.anbieter_artikelnummer.values.tolist()[-200:])

In [143]:
data_tr['clicked_before'] = clicked_before

In [144]:
data_tr[49050:49051]

,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before
49050,2017-09-18 00:08:49+00:00,00382446TCS156901,1526480,-0.560299,8,4,1.0,"[002202451V502, 002202452000A1, 002202452000B6]"

In [145]:
len(data)

50000

## Extract data from item_vec

In [146]:
row_test = data_tr[49050:49051]

In [147]:
row_test

,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before
49050,2017-09-18 00:08:49+00:00,00382446TCS156901,1526480,-0.560299,8,4,1.0,"[002202451V502, 002202452000A1, 002202452000B6]"

### item data

In [148]:
item = pd.read_sql("SELECT * from item_enc WHERE anbieter_artikelnummer = %s", engine , params = row_test.anbieter_artikelnummer)

In [149]:
item

,anbieter_artikelnummer,anbieterID_enc,anbietermarktplatz_enc,warengruppe_enc,text_vec,preis_std,minVE_std
0,00382446TCS156901,212,4,18,"[-0.4985748827457428, -0.36895880103111267, -0...",-0.10065,-0.015527

In [150]:
df = pd.merge(row_test, item, how = 'left', on = 'anbieter_artikelnummer')

In [151]:
row_test

,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before
49050,2017-09-18 00:08:49+00:00,00382446TCS156901,1526480,-0.560299,8,4,1.0,"[002202451V502, 002202452000A1, 002202452000B6]"

### User data

In [152]:
items_clicked = engine.execute(sqlalchemy.select([item_enc]).where(item_enc.c.anbieter_artikelnummer.in_(row_test.clicked_before.values[0])))

In [153]:
result = []
for row in items_clicked:
     result.append(row)

In [154]:
result

[('002202451V502', 124, 0, 139, [0.734369695186615, -0.332838773727417, 0.2505623400211334, 0.7297430634498596, 0.28675997257232666, -0.1705329418182373, -0.726084291934967, -1.11798 ... (2795 characters truncated) ... 269226, -1.669222354888916, 2.113370895385742, -0.0002033511846093461, 0.6623831987380981, -0.14732497930526733, 0.56479811668396, 0.7747554183006287], -0.12580649371999117, 0.06167594118722881),
 ('002202452000A1', 124, 0, 144, [0.6400356888771057, 0.2728152275085449, -0.2695704400539398, 1.0182435512542725, -0.8834463357925415, -0.9535860419273376, -0.08094421774148941, -0.4 ... (2805 characters truncated) ...  -0.014507957734167576, 0.24185378849506378, -0.12006093561649323, -0.5831425786018372, 0.21972434222698212, 0.07278551161289215, -0.9922367930412292], -0.12580649371999117, 0.0025418151149010693),
 ('002202452000B6', 124, 0, 144, [0.10871133208274841, -0.11701437085866928, -0.4695901572704315, 0.21652288734912872, -0.9348570704460144, -0.37505435943603516, -0.24320711195468903, ... (2825 characters truncated) ... 3, -0.5068235397338867, 0.0013430254766717553, 0.14776593446731567, -0.3976917266845703, -0.10377684980630875, 0.9207490086555481, -0.604794979095459], -0.12580649371999117, 0.0025418151149010693)]

In [155]:
items_clicked.keys()

['anbieter_artikelnummer',
 'anbieterID_enc',
 'anbietermarktplatz_enc',
 'warengruppe_enc',
 'text_vec',
 'preis_std',
 'minVE_std']

In [156]:
df = pd.DataFrame(result)
df.columns = items_clicked.keys()

In [157]:
#df

In [158]:
anbieterID_enc = df.anbieterID_enc.values.tolist()
anbietermarktplatz_enc = df.anbietermarktplatz_enc.values.tolist()
warengruppe_enc = df.warengruppe_enc.values.tolist()
text_vec = np.array((df.text_vec).values.tolist()[-50:]).mean(axis = 0).tolist()
preis_std = np.array((df.preis_std).values.tolist()).mean(axis = 0)#.tolist()
minVE_std = np.array((df.minVE_std).values.tolist()).mean(axis = 0)#.tolist()

In [159]:
user = pd.DataFrame({'userID' : row_test.userID, 
                     'anbieterID_enc' : [anbieterID_enc], 
                     'anbietermarktplatz_enc' : [anbietermarktplatz_enc], 
                     'warengruppe_enc' : [warengruppe_enc], 
                     'text_vec' : [text_vec],
                     'preis_std' : preis_std, 
                     'minVE_std' : minVE_std})

In [160]:
user

,userID,anbieterID_enc,anbietermarktplatz_enc,warengruppe_enc,text_vec,preis_std,minVE_std
49050,1526480,"[124, 124, 124]","[0, 0, 0]","[139, 144, 144]","[0.4943722387154897, -0.059012639025847115, -0...",-0.125806,0.022253

In [161]:
row_done = pd.merge(row_test, user, how = "left", on = "userID", suffixes = ("", "_user"))

In [162]:
row_done

,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before,anbieterID_enc,anbietermarktplatz_enc,warengruppe_enc,text_vec,preis_std,minVE_std
0,2017-09-18 00:08:49+00:00,00382446TCS156901,1526480,-0.560299,8,4,1.0,"[002202451V502, 002202452000A1, 002202452000B6]","[124, 124, 124]","[0, 0, 0]","[139, 144, 144]","[0.4943722387154897, -0.059012639025847115, -0...",-0.125806,0.022253

## Function get item and user

In [163]:
rows_test = data_tr[0:1].reset_index()

In [164]:
rows_test

,index,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before
0,0,2017-09-15 00:00:03+00:00,00144119AHQ1067,1575009,-0.866586,8,5,1.0,[]

In [165]:
data_tr.iloc[49050].anbieter_artikelnummer

'00382446TCS156901'

In [229]:
def get_item_and_user (df):
    # item
    item =  pd.read_sql("SELECT * from item_enc WHERE anbieter_artikelnummer = %s", engine , params = (df.anbieter_artikelnummer,))
    df_item = pd.merge(df, item, how = 'left', on = 'anbieter_artikelnummer')
    # user data based on last clicks 
    # usually first need to get the user data (MKT & last clicked from db)
    if len(df.clicked_before.values[0]) > 0:
        items_clicked = engine.execute(sqlalchemy.select([item_enc]).where(item_enc.c.anbieter_artikelnummer.in_(df.clicked_before.values[0])))
        # reformat item data of user
        result_clicked = []
        for row in items_clicked:
            result_clicked.append(row)
        user_detail = pd.DataFrame(result_clicked)
        user_detail.columns = items_clicked.keys()
        # aggregate by average
        anbieterID_enc = user_detail.anbieterID_enc.values.tolist()
        anbietermarktplatz_enc = user_detail.anbietermarktplatz_enc.values.tolist()
        warengruppe_enc = user_detail.warengruppe_enc.values.tolist()
        text_vec_ = np.array((user_detail.text_vec).values.tolist()[-50:]).mean(axis = 0).tolist() ## only use last 50 !
        preis_std = np.array((user_detail.preis_std).values.tolist()).mean(axis = 0)
        minVE_std = np.array((user_detail.minVE_std).values.tolist()).mean(axis = 0)
        user = pd.DataFrame({'userID' : df.userID, 
                         'anbieterID_enc' : [anbieterID_enc], 
                         'anbietermarktplatz_enc' : [anbietermarktplatz_enc], 
                         'warengruppe_enc' : [warengruppe_enc], 
                         'text_vec' : [text_vec],
                         'preis_std' : preis_std, 
                         'minVE_std' : minVE_std})
    else:
        user = pd.DataFrame({'userID' : df.userID, 
                         'anbieterID_enc' : [[]], 
                         'anbietermarktplatz_enc' : [[]], 
                         'warengruppe_enc' : [[]], 
                         'text_vec' : [[0] * 150],
                         'preis_std' : 0, 
                         'minVE_std' : 0})
        
    df_return = pd.merge(df_item, user, how = "left", on = "userID", suffixes = ("", "_user"))
    return (df_return)

In [167]:
test = get_item_and_user(rows_test)

In [168]:
test

,index,datum_click,anbieter_artikelnummer,userID,days_online_std,month_enc,userMkt_enc,pick,clicked_before,anbieterID_enc,...,warengruppe_enc,text_vec,preis_std,minVE_std,anbieterID_enc_user,anbietermarktplatz_enc_user,warengruppe_enc_user,text_vec_user,preis_std_user,minVE_std_user
0,0,2017-09-15 00:00:03+00:00,00144119AHQ1067,1575009,-0.866586,8,5,1.0,[],79,...,95,"[1.3081785440444946, -1.5591379404067993, -0.6...",-0.092875,0.002542,[],[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0

In [101]:
len(test.clicked_before)

1

In [2]:
final_df

NameError: name 'final_df' is not defined