## Visualize the representation of items as average word2vec

In [22]:
import csv
import sqlalchemy as db
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import numpy as np

In [7]:
DATABASE_URI = 'postgres+psycopg2://postgres:power2020@host.docker.internal:5431/person_recommender'
engine = create_engine(DATABASE_URI)

In [101]:
oberwarengruppen = pd.read_csv('raw_data/warengruppe.csv', sep = ";")

In [103]:
oberwarengruppen.sample()

     Unnamed: 0  warenobergruppe           warenuntergruppe
198         199  Schmuck & Uhren  Schmuck-Aufbewahrung_5218

### Load example items

In [138]:
items = pd.read_sql("SELECT e.anbieter_artikelnummer, e.text_vec, r.warengruppe, r.text_clean from item_enc as e left join item_features_raw as r ON e.anbieter_artikelnummer = r.anbieter_artikelnummer where text_clean NOT IN ('None') limit 10000", engine)

In [139]:
items = items.merge(oberwarengruppen, left_on = "warengruppe", right_on = "warenuntergruppe",  how = 'left')

In [154]:
items['description'] = items['text_clean'].str[:50]

In [155]:
items.head()

,anbieter_artikelnummer,text_vec,warengruppe,text_clean,Unnamed: 0,warenobergruppe,warenuntergruppe,description
0,007626501740882,"[0.418427914381027, -0.50445157289505, 0.72581...",Fußmatten & Teppiche_5117,"rectangle with fringes, 50 x 80 cm, coton prin...",109.0,Home & Living,Fußmatten & Teppiche_5117,"rectangle with fringes, 50 x 80 cm, coton prin..."
1,0036444212-0930,"[0.150840029120445, -0.589504897594452, 0.0488...",Sonstige_5999,"Water wiggler, unicorn, ca. 13 cm, 4-fold sort...",227.0,Sonstige,Sonstige_5999,"Water wiggler, unicorn, ca. 13 cm, 4-fold sort..."
2,00672637N27 NYL 660-20-1,"[0.649883806705475, 0.0970093011856079, -0.652...",Ketten_5163,"Curling twisted necklace, rose gold Twisted sh...",148.0,Schmuck & Uhren,Ketten_5163,"Curling twisted necklace, rose gold Twisted sh..."
3,00343784MO8878-08TTH,"[-0.643265187740326, -0.501867473125458, -0.64...",KFZ-Zubehör_5150,Ice scraper Square plastic yellow Ice scraper ...,138.0,KFZ & Quads,KFZ-Zubehör_5150,Ice scraper Square plastic yellow Ice scraper ...
4,00364442CAP-BAY03,"[-0.363956481218338, -0.632754623889923, -0.00...",Kopfbedeckung _5049,Snapback Cap Baseball cap Baseball BAYERN Snap...,45.0,Fashion & Accessoires,Kopfbedeckung _5049,Snapback Cap Baseball cap Baseball BAYERN Snap...

In [156]:
list_text = []
for i in range(len(items)):
    list_text.append(items.text_vec[i])
item_text = np.array(list_text, ndmin = 2)

save file for text vectors

In [157]:
np.savetxt('models/word2vec/text_vecs.tsv', item_text, delimiter = "\t" )

save file for labels

In [158]:
subset = items[['anbieter_artikelnummer', 'warengruppe', 'warenobergruppe', 'description']]

In [159]:
meta = [tuple(x) for x in subset.values]

In [160]:
def save_meta():
    label_file = "models/word2vec/labels.tsv"
    with open(label_file, 'w', encoding='utf8', newline='') as tsv_file:
        tsv_writer = csv.writer(tsv_file, delimiter='\t', lineterminator='\n')
        tsv_writer.writerow(["anbieter_artikelnummer", "warengruppe", "warenobergruppe", "text"])
        for nummer, unter, ober, text in meta:
            tsv_writer.writerow([nummer, unter, ober, text])

In [161]:
save_meta()

In [151]:
items.groupby('warenobergruppe').anbieter_artikelnummer.count()

warenobergruppe
Computer & Telekommunikation     124
Consumer Electronics              42
Drogerie & Kosmetik              569
Fashion & Accessoires           1915
Garten & Baumarkt                299
Geschenkartikel & Papeterie      751
Geschäftsausstattung              49
Haushalt & Küche                 738
Home & Living                   1535
KFZ & Quads                       46
Lizenzartikel                   1415
Nahrungs- und Genussmittel        44
Schmuck & Uhren                  694
Sonstige                         243
Spielwaren                       601
Sport & Freizeit                 167
Taschen & Reiseartikel           425
Name: anbieter_artikelnummer, dtype: int64

## Users

In [162]:
user = pd.read_sql("SELECT userid, text_vec_user from user_enc where preis_std_user !=0 limit 10000", engine)

In [163]:
user

       userid                                      text_vec_user
0     1511544  [0.486513030249626, -0.127477754916375, -0.177...
1     1688133  [0.18211564142257, -0.135311668073492, -0.1990...
2     1590069  [0.572432508692143, -0.350613087415697, -0.087...
3     1550191  [0.0751796315113703, 0.0736006221009625, -0.44...
4     1688146  [-0.330325409770012, 0.222417250275612, -0.538...
...       ...                                                ...
9995  1606923  [0.305390298366547, -0.161748399958014, -0.784...
9996   880629  [0.568469798658042, -0.552238702774048, 0.2230...
9997   635440  [0.483925960958004, -0.061884716153145, -0.364...
9998   883764  [-0.653443480531375, 0.425231064359347, -0.327...
9999   720136  [1.10120588541031, -0.598064293464024, -0.0515...

[10000 rows x 2 columns]

In [164]:
list_text_user = []
for i in range(len(user)):
    list_text_user.append(user.text_vec_user[i])
list_text_user = np.array(list_text_user, ndmin = 2)

In [165]:
np.savetxt('models/word2vec/user_text_vecs.tsv', item_text, delimiter = "\t" )