## Sqlite Database for Reproducability

This notebook extracts sample data from the live database. It includes the tables used for training, testing, and online serving

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('data/db.db')

In [13]:
c = conn.cursor()

Connect to live db to extract and transfer data

In [3]:
import sqlalchemy as db
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import pickle

In [8]:
DATABASE_URI = 'postgres+psycopg2://postgres:power2020@host.docker.internal:5431/person_recommender'
engine = create_engine(DATABASE_URI)
meta = db.MetaData(engine)

## Pickling

I need to pickle every field that includes a array/list:
- clicked_before
- anbieterid_enc_user
- anbietermarktplatz_enc_user
- warengruppe_enc_user
- text_vec_user

In [47]:
def pickle_data(data):
    df = data.copy()
    columns = ['clicked_before', 'text_vec', 'anbieterid_enc_user', 'anbietermarktplatz_enc_user', 'warengruppe_enc_user', 'text_vec_user']
    for column in columns:
        try:
            df.loc[:,column] = [pickle.dumps(df.loc[i,column]) for i in range(len(df))]
        except KeyError:
            pass
    return (df)

In [48]:
def unpickle_data(data):
    df = data.copy()
    columns = ['clicked_before', 'text_vec', 'anbieterid_enc_user', 'anbietermarktplatz_enc_user', 'warengruppe_enc_user', 'text_vec_user']
    for column in columns:
        try:
            df[column] = [pickle.loads(df.loc[i,column]) for i in range(len(df))]
        except KeyError:
            pass
    return (df)

### Training data

In [9]:
train = pd.read_sql("SELECT * from target_training_enc limit 25000", engine)

In [10]:
train.head()

,index,datum_click,anbieter_artikelnummer,userid,clicked_before,pick,days_online_std,days_online_log_std,month_enc,anbietermarktplatz_enc,...,minve_log_std,usermkt_enc,anbieterid_enc_user,anbietermarktplatz_enc_user,warengruppe_enc_user,text_vec_user,preis_std_user,minve_std_user,preis_log_std_user,minve_log_std_user
0,2353009,2018-01-30 12:55:31,0035042810021768,1576653,"[00694944SC16045, 00694944EA6303, 007021001545...",0.0,1.399935,1.157657,1,1,...,1.664599,8,"[30, 70, 70, 70, 70, 70, 70, 93, 93, 93, 93, 9...","[1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 6, 6, 6, 6, 6, ...","[191, 32, 175, 139, 195, 53, 32, 82, 82, 50, 5...","[-0.218513947958127, -0.184354413151741, -0.53...",-0.100367,-0.008907,-1.048660,-0.985059
1,2353010,2018-01-30 12:55:32,003666136806,883068,"[00583832CH1004, 00583832CH1005, 003666138301,...",0.0,3.116889,1.532133,1,1,...,-1.063710,7,"[197, 197, 344, 344, 344, 344, 344]","[1, 1, 2, 2, 2, 2, 2]","[93, 93, 168, 168, 168, 168, 168]","[0.153136591560074, 0.00332540699413845, -0.05...",-0.091585,-0.014588,-0.733798,-2.530091
2,2353011,2018-01-30 12:55:37,0034309252378,1603793,[],1.0,-0.796577,-1.108962,1,1,...,1.461386,3,[],[],[],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.000000,0.807366,-0.011449
3,2353012,2018-01-30 12:55:44,00364442SCH-375b,623029,"[0012354691202, 0028237059490, 0033513018660, ...",0.0,1.835737,1.274403,1,1,...,0.067817,1,"[5, 70, 124, 157, 172]","[1, 1, 1, 1, 1]","[222, 149, 99, 59, 172]","[-0.122849941253662, -0.46886682510376, -0.401...",-0.117866,0.066932,-2.064024,2.105503
4,2353013,2018-01-30 12:55:44,004770784041 MIX,1501596,"[001895759005104, 001895759005108, 00189575900...",1.0,-0.229510,0.317311,1,8,...,0.399369,1,"[2, 2, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 29,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5, 189, 5, 182, 156, 156, 182, 156, 156, 182,...","[0.336847525388002, -0.332346421033144, -0.109...",-0.067205,0.029587,-0.122289,1.323163

In [11]:
train_pickled = pickle_data(train)

In [12]:
train_pickled.head()

,index,datum_click,anbieter_artikelnummer,userid,clicked_before,pick,days_online_std,days_online_log_std,month_enc,anbietermarktplatz_enc,...,minve_log_std,usermkt_enc,anbieterid_enc_user,anbietermarktplatz_enc_user,warengruppe_enc_user,text_vec_user,preis_std_user,minve_std_user,preis_log_std_user,minve_log_std_user
0,2353009,2018-01-30 12:55:31,0035042810021768,1576653,b'\x80\x03]q\x00(X\x0f\x00\x00\x0000694944SC16...,0.0,1.399935,1.157657,1,1,...,1.664599,8,b'\x80\x03]q\x00(K\x1eKFKFKFKFKFKFK]K]K]K]K]K]...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\xbfK K\xafK\x8bK\xc3K5K KRK...,b'\x80\x03]q\x00(G\xbf\xcb\xf8C\xda\x19\x99\xa...,-0.100367,-0.008907,-1.048660,-0.985059
1,2353010,2018-01-30 12:55:32,003666136806,883068,b'\x80\x03]q\x00(X\x0e\x00\x00\x0000583832CH10...,0.0,3.116889,1.532133,1,1,...,-1.063710,7,b'\x80\x03]q\x00(K\xc5K\xc5MX\x01MX\x01MX\x01M...,b'\x80\x03]q\x00(K\x01K\x01K\x02K\x02K\x02K\x0...,b'\x80\x03]q\x00(K]K]K\xa8K\xa8K\xa8K\xa8K\xa8e.',b'\x80\x03]q\x00(G?\xc3\x99\xfa\xd6I$\x89G?k=\...,-0.091585,-0.014588,-0.733798,-2.530091
2,2353011,2018-01-30 12:55:37,0034309252378,1603793,b'\x80\x03]q\x00.',1.0,-0.796577,-1.108962,1,1,...,1.461386,3,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.807366,-0.011449
3,2353012,2018-01-30 12:55:44,00364442SCH-375b,623029,b'\x80\x03]q\x00(X\r\x00\x00\x000012354691202q...,0.0,1.835737,1.274403,1,1,...,0.067817,1,b'\x80\x03]q\x00(K\x05KFK|K\x9dK\xace.',b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01e.',b'\x80\x03]q\x00(K\xdeK\x95KcK;K\xace.',b'\x80\x03]q\x00(G\xbf\xbfs\x17\xff\xff\xff\xf...,-0.117866,0.066932,-2.064024,2.105503
4,2353013,2018-01-30 12:55:44,004770784041 MIX,1501596,b'\x80\x03]q\x00(X\x0f\x00\x00\x00001895759005...,1.0,-0.229510,0.317311,1,8,...,0.399369,1,b'\x80\x03]q\x00(K\x02K\x02K\x02K\x08K\x08K\x0...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\x05K\xbdK\x05K\xb6K\x9cK\x9...,b'\x80\x03]q\x00(G?\xd5\x8e\xe8\xecQ\xeb~G\xbf...,-0.067205,0.029587,-0.122289,1.323163

Create Table

In [14]:
train_pickled.dtypes

index                                   int64
datum_click                    datetime64[ns]
anbieter_artikelnummer                 object
userid                                 object
clicked_before                         object
pick                                  float64
days_online_std                       float64
days_online_log_std                   float64
month_enc                               int64
anbietermarktplatz_enc                  int64
anbieterid_enc                          int64
warengruppe_enc                         int64
text_vec                               object
preis_std                             float64
minve_std                             float64
preis_log_std                         float64
minve_log_std                         float64
usermkt_enc                             int64
anbieterid_enc_user                    object
anbietermarktplatz_enc_user            object
warengruppe_enc_user                   object
text_vec_user                          object
preis_std_user                        float64
minve_std_user                        float64
preis_log_std_user                    float64
minve_log_std_user                    float64
dtype: object

In [15]:
c.execute('''CREATE TABLE target_training_enc
             ([index] integer PRIMARY KEY, [datum_click] datetime, [anbieter_artikelnummer] text, 
             [userid] text, [clicked_before] blob, [pick] integer, [days_online_std] real, [month_enc] integer, 
             [anbietermarktplatz_enc] integer, [anbieterid_enc] integer, [warengruppe_enc] integer, [text_vec] blob, 
             [preis_std] real, [minve_std] real, [usermkt_enc] integer, [anbieterid_enc_user] blob, 
             [anbietermarktplatz_enc_user] blob, [warengruppe_enc_user] blob, [text_vec_user] blob, [preis_std_user] real, 
             [minve_std_user] real, [days_online_log_std] real, [preis_log_std] real, [preis_log_std_user] real, 
             [minve_log_std] real, [minve_log_std_user] real)''')

In [16]:
train_pickled.to_sql(name="target_training_enc",if_exists='append',con = conn, index = False)

Test extracting

In [17]:
# test
train_pickled = pd.read_sql("SELECT * from target_training_enc limit 1000", conn)

In [18]:
test = unpickle_data(train_pickled)

In [19]:
test.head()

,index,datum_click,anbieter_artikelnummer,userid,clicked_before,pick,days_online_std,month_enc,anbietermarktplatz_enc,anbieterid_enc,...,anbietermarktplatz_enc_user,warengruppe_enc_user,text_vec_user,preis_std_user,minve_std_user,days_online_log_std,preis_log_std,preis_log_std_user,minve_log_std,minve_log_std_user
0,2353009,2018-01-30 12:55:31,0035042810021768,1576653,"[00694944SC16045, 00694944EA6303, 007021001545...",0,1.399935,1,1,184,...,"[1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 6, 6, 6, 6, 6, ...","[191, 32, 175, 139, 195, 53, 32, 82, 82, 50, 5...","[-0.218513947958127, -0.184354413151741, -0.53...",-0.100367,-0.008907,1.157657,-1.115653,-1.048660,1.664599,-0.985059
1,2353010,2018-01-30 12:55:32,003666136806,883068,"[00583832CH1004, 00583832CH1005, 003666138301,...",0,3.116889,1,1,197,...,"[1, 1, 2, 2, 2, 2, 2]","[93, 93, 168, 168, 168, 168, 168]","[0.153136591560074, 0.00332540699413845, -0.05...",-0.091585,-0.014588,1.532133,0.759179,-0.733798,-1.063710,-2.530091
2,2353011,2018-01-30 12:55:37,0034309252378,1603793,[],1,-0.796577,1,1,177,...,[],[],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.000000,-1.108962,-1.423027,0.807366,1.461386,-0.011449
3,2353012,2018-01-30 12:55:44,00364442SCH-375b,623029,"[0012354691202, 0028237059490, 0033513018660, ...",0,1.835737,1,1,195,...,"[1, 1, 1, 1, 1]","[222, 149, 99, 59, 172]","[-0.122849941253662, -0.46886682510376, -0.401...",-0.117866,0.066932,1.274403,-0.667262,-2.064024,0.067817,2.105503
4,2353013,2018-01-30 12:55:44,004770784041 MIX,1501596,"[001895759005104, 001895759005108, 00189575900...",1,-0.229510,1,8,261,...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5, 189, 5, 182, 156, 156, 182, 156, 156, 182,...","[0.336847525388002, -0.332346421033144, -0.109...",-0.067205,0.029587,0.317311,-0.434223,-0.122289,0.399369,1.323163

Same for test data

In [20]:
test = pd.read_sql("SELECT * from target_testing_enc limit 5000", engine)

In [21]:
test_pickled = pickle_data(test)

In [22]:
test_pickled.head()

,index,datum_click,anbieter_artikelnummer,userid,clicked_before,pick,days_online_std,days_online_log_std,month_enc,anbietermarktplatz_enc,...,minve_log_std,usermkt_enc,anbieterid_enc_user,anbietermarktplatz_enc_user,warengruppe_enc_user,text_vec_user,preis_std_user,minve_std_user,preis_log_std_user,minve_log_std_user
0,140290,2019-07-08 19:52:34,00101045TY37011,56506,b'\x80\x03]q\x00(X\r\x00\x00\x000010104517000q...,0.0,-0.801828,-1.157062,7,7,...,-1.063710,1,b'\x80\x03]q\x00(K.K.K.K.K.K.K.K?K?K?K?K?K?K?K...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\tKSKSK\xc2K\x9eK\tK\xc3K\xc...,b'\x80\x03]q\x00(G\xbf\xda\xf5b\x9e\x99\x99\x9...,-0.086228,-0.012997,-0.573079,-1.893238
1,140291,2019-07-08 19:52:34,0070854200000116,835762,b'\x80\x03]q\x00(X\x11\x00\x00\x0000481348MJ-K...,1.0,0.400565,0.772045,7,8,...,-1.063710,4,b'\x80\x03]q\x00(K\x03K\x05K\rK\x0eK;K=K>K>K>K...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,"b""\x80\x03]q\x00(KKK\xe2KKK\xc8K\x0eK\x9aK]K]K...","b""\x80\x03]q\x00(G\xbf\xb0Y\x853\n=rG?\xa6\xc6...",-0.072686,-0.002887,-0.237186,-0.256595
2,140292,2019-07-08 19:52:35,0034309254061,851967,b'\x80\x03]q\x00(X\x0e\x00\x00\x00006594839112...,1.0,-0.835082,-1.585571,7,1,...,1.175003,3,"b""\x80\x03]q\x00(K\x02K\xa8K\xa8K\xa8K\xa8K\xa...",b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\x05K\x14K\x14K\x14K\x14K\x1...,b'\x80\x03]q\x00(G?\xd8\xbf=\x06\x14z\xd9G\xbf...,-0.032945,-0.008406,0.431412,-0.906739
3,140293,2019-07-08 19:52:40,00762238V0101154,1678581,b'\x80\x03]q\x00.',0.0,-0.824581,-1.418454,7,2,...,-1.063710,5,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.807366,-0.011449
4,140294,2019-07-08 19:52:41,00101045MEK3N000360,1525541,b'\x80\x03]q\x00(X\x15\x00\x00\x00004470993867...,0.0,-0.521795,-0.086512,7,7,...,-1.063710,6,b'\x80\x03]q\x00(K K K.K.K.K.K.K.K=K?K?K?K?K?K...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K]K\xbdK2K\x0eK\xc3K\x94K\x94...,b'\x80\x03]q\x00(G\xbf\xd3\xb9\xd8S=p\xa3G\xbf...,-0.093543,0.035829,-0.797766,1.490141

In [23]:
c = conn.cursor()

In [24]:
c.execute('''CREATE TABLE target_testing_enc
             ([index] integer PRIMARY KEY, [datum_click] datetime, [anbieter_artikelnummer] text, 
             [userid] text, [clicked_before] blob, [pick] integer, [days_online_std] real, [month_enc] integer, 
             [anbietermarktplatz_enc] integer, [anbieterid_enc] integer, [warengruppe_enc] integer, [text_vec] blob, 
             [preis_std] real, [minve_std] real, [usermkt_enc] integer, [anbieterid_enc_user] blob, 
             [anbietermarktplatz_enc_user] blob, [warengruppe_enc_user] blob, [text_vec_user] blob, [preis_std_user] real, 
             [minve_std_user] real, [days_online_log_std] real, [preis_log_std] real, [preis_log_std_user] real, 
             [minve_log_std] real, [minve_log_std_user] real)''')

In [25]:
test_pickled.to_sql(name="target_testing_enc",if_exists='append',con = conn, index = False)

Ids to filter out

In [26]:
filter_ids = pd.read_sql("SELECT * from training_user_filter", engine)

In [27]:
filter_ids.head()

    userid
0  1559225
1  1608456
2  1657316
3  1575782
4  1587975

In [28]:
filter_ids.to_sql(name="training_user_filter",if_exists='append',con = conn, index = False)

### Serving Data

Items raw - just medium step in creation of data

In [29]:
items_raw = pd.read_sql("SELECT * from item_features_raw limit 50000", engine)

In [30]:
items_raw.head()

,anbieter_artikelnummer,anbieterid,anbietermarktplatz,warengruppe,text_clean,preis_euro,stueck_pro_ve,erstanlagedatum,datum_last_click
0,00382446LEY101408,382446,HU,Partyartikel_5246,"Suction Cup 3D Disney , Cars Suction Cup 3D Di...",0.807967,1.0,2015-04-01 15:09:48,2020-01-21 16:17:31
1,0017115816.06.58,171158,IT,Geschenkverpackung_5086,Wholesaler of checked fabric tape Checkered fa...,2.790000,1.0,2020-01-08 10:30:43,2020-01-22 00:00:49
2,0000403434036,4034,DE,Lichterketten_5114,Christmas LED fairy lights made of copper wire...,2.100000,20.0,2016-11-29 10:31:47,NaT
3,000042316333,4231,DE,Reiseartikel_5199,Luggage strap - New -. 4 different colors pack...,1.430000,80.0,2016-11-04 11:23:29,NaT
4,00382446LEY101495,382446,HU,Haushaltswaren_5240,"Cutlery Set - 2 Piece Disney Verdas, Cars Plas...",0.538645,1.0,2015-05-10 08:33:45,2020-01-21 16:17:31

In [31]:
items_raw.to_sql(name="item_features_raw",if_exists='append',con = conn, index = False)

Items encoded

In [32]:
items = pd.read_sql("SELECT * from item_enc limit 50000", engine)

In [33]:
items.head()

,anbieter_artikelnummer,anbieterid_enc,anbietermarktplatz_enc,warengruppe_enc,text_vec,preis_std,minve_std,preis_log_std,minve_log_std,erstanlagedatum
0,00744013Cayley,501,8,81,"[0.0112834237515926, -0.117268852889538, 0.997...",-0.019027,-0.015527,0.951033,-1.06371,2018-05-10 17:47:30
1,00744013Christelle,501,8,33,"[0.158726245164871, -0.114233806729317, 0.7278...",-0.058951,-0.015527,0.618703,-1.06371,2018-06-17 12:19:51
2,00744013Clarissa,501,8,182,"[0.35150557756424, -0.203590989112854, 0.48789...",0.014842,-0.015527,1.151531,-1.06371,2018-06-17 12:23:37
3,00744013Dagna,501,8,43,"[-0.23165936768055, 0.0307953357696533, 0.5446...",-0.037405,-0.015527,0.815526,-1.06371,2018-04-20 23:57:34
4,00744013Hathor,501,8,100,"[0.11736374348402, 0.111603811383247, 0.895092...",-0.046042,-0.015527,0.742547,-1.06371,2018-05-03 18:04:14

In [34]:
items_pickled = pickle_data(items)

In [35]:
items_pickled.head()

,anbieter_artikelnummer,anbieterid_enc,anbietermarktplatz_enc,warengruppe_enc,text_vec,preis_std,minve_std,preis_log_std,minve_log_std,erstanlagedatum
0,00744013Cayley,501,8,81,b'\x80\x03]q\x00(G?\x87\x1b\xc3\x7f\xff\xff\xe...,-0.019027,-0.015527,0.951033,-1.06371,2018-05-10 17:47:30
1,00744013Christelle,501,8,33,b'\x80\x03]q\x00(G?\xc4Q$?\xff\xff\xf8G\xbf\xb...,-0.058951,-0.015527,0.618703,-1.06371,2018-06-17 12:19:51
2,00744013Clarissa,501,8,182,b'\x80\x03]q\x00(G?\xd6\x7f\x11@\x00\x00\tG\xb...,0.014842,-0.015527,1.151531,-1.06371,2018-06-17 12:23:37
3,00744013Dagna,501,8,43,b'\x80\x03]q\x00(G\xbf\xcd\xa7\x03\xa0\x00\x00...,-0.037405,-0.015527,0.815526,-1.06371,2018-04-20 23:57:34
4,00744013Hathor,501,8,100,b'\x80\x03]q\x00(G?\xbe\x0b\x8c\xdf\xff\xff\xe...,-0.046042,-0.015527,0.742547,-1.06371,2018-05-03 18:04:14

In [36]:
c.execute('''CREATE TABLE item_enc
             ([anbieter_artikelnummer] text PRIMARY_KEY, [anbieterid_enc] integer, [anbietermarktplatz_enc] integer,
             [warengruppe_enc] integer, [text_vec] blob, [preis_std] real, [minve_std] real, [preis_log_std] real, [minve_log_std] real, [erstanlagedatum] datetime  )''')

In [37]:
items_pickled.to_sql(name="item_enc",if_exists='append',con = conn, index = False)

Test

In [41]:
items_pickled = pd.read_sql("SELECT * FROM item_enc" , conn)

In [42]:
items_un = unpickle_data(items_pickled)

In [43]:
items.head()

,anbieter_artikelnummer,anbieterid_enc,anbietermarktplatz_enc,warengruppe_enc,text_vec,preis_std,minve_std,preis_log_std,minve_log_std,erstanlagedatum
0,00744013Cayley,501,8,81,"[0.0112834237515926, -0.117268852889538, 0.997...",-0.019027,-0.015527,0.951033,-1.06371,2018-05-10 17:47:30
1,00744013Christelle,501,8,33,"[0.158726245164871, -0.114233806729317, 0.7278...",-0.058951,-0.015527,0.618703,-1.06371,2018-06-17 12:19:51
2,00744013Clarissa,501,8,182,"[0.35150557756424, -0.203590989112854, 0.48789...",0.014842,-0.015527,1.151531,-1.06371,2018-06-17 12:23:37
3,00744013Dagna,501,8,43,"[-0.23165936768055, 0.0307953357696533, 0.5446...",-0.037405,-0.015527,0.815526,-1.06371,2018-04-20 23:57:34
4,00744013Hathor,501,8,100,"[0.11736374348402, 0.111603811383247, 0.895092...",-0.046042,-0.015527,0.742547,-1.06371,2018-05-03 18:04:14

Users

In [49]:
users = pd.read_sql("SELECT * from user_enc limit 10000", engine)

In [50]:
users_pickled = pickle_data(users)

In [51]:
users_pickled

,userid,datum_click,clicked_before,usermkt_enc,anbieterid_enc_user,anbietermarktplatz_enc_user,warengruppe_enc_user,text_vec_user,preis_std_user,minve_std_user,minve_log_std_user,preis_log_std_user
0,1617611,2019-02-14 20:30:24,b'\x80\x03]q\x00(X\x0c\x00\x00\x0000345941BB03...,4,b'\x80\x03]q\x00(K\xb1K\xb6K\xf4e.',b'\x80\x03]q\x00(K\x01K\x05K\x01e.',b'\x80\x03]q\x00(K~K!K\x8ae.',"b'\x80\x03]q\x00(G?\xda\xb4\xb5""\xaa\xaa\xb1G\...",-0.095440,0.021158,1.058279,-0.862858
1,1601360,2019-02-14 20:35:04,b'\x80\x03]q\x00X\r\x00\x00\x000004335013486q\...,7,b'\x80\x03]q\x00K a.',b'\x80\x03]q\x00K\x01a.',b'\x80\x03]q\x00Kqa.',b'\x80\x03]q\x00(G?\xed\x17\x08\x00\x00\x00\x0...,-0.085694,0.002542,0.172416,-0.558084
2,854652,2019-02-14 20:35:57,b'\x80\x03]q\x00(X\x10\x00\x00\x0000382446CTL6...,8,b'\x80\x03]q\x00(K\xd5K\xd5M=\x01M=\x01M\xa4\x...,b'\x80\x03]q\x00(K\x05K\x05K\x08K\x08K\x01e.',b'\x80\x03]q\x00(K\x13K\x13K\x13K\x13K\x13e.',b'\x80\x03]q\x00(G\xbf\xcb\r\\\xe6ff]G\xbf\xc3...,-0.000721,-0.015527,-3.127772,0.800185
3,1638264,2019-02-14 20:38:00,b'\x80\x03]q\x00(X\r\x00\x00\x0000690052Z121Zq...,8,b'\x80\x03]q\x00(K\x02K\x02K\x02K\x02K\x02K\x0...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\x05K\x05K\x05K\x05K\x05K\x0...,b'\x80\x03]q\x00(G?\xdb\x14\xe1z\x00\x00\x01G\...,-0.106602,0.015169,0.831912,-1.328800
4,1650757,2019-01-20 18:42:37,b'\x80\x03]q\x00(X\x0c\x00\x00\x00000618246558...,7,b'\x80\x03]q\x00(K.M\xe6\x01M\x05\x02e.',b'\x80\x03]q\x00(K\x01K\x07K\x04e.',b'\x80\x03]q\x00(K=K\xc3K e.',b'\x80\x03]q\x00(G\xbf\xe2\xad\xefX\x00\x00\x0...,-0.091952,-0.009504,-0.480622,0.108621
5,1646805,2019-02-14 21:08:19,b'\x80\x03]q\x00(X\x0e\x00\x00\x000069462538.3...,3,b'\x80\x03]q\x00(K\xb1K\xd5M}\x01M\xae\x01M\xa...,b'\x80\x03]q\x00(K\x01K\x05K\x04K\x01K\x01K\x0...,b'\x80\x03]q\x00(K~K\x97K~KXKXKRK`e.',b'\x80\x03]q\x00(G?\xe1-^\xe0\x00\x00\x04G\xbf...,-0.082324,-0.000039,-0.014511,-0.467182
6,1635714,2018-10-20 19:50:37,b'\x80\x03]q\x00(X\x0e\x00\x00\x00003644421014...,8,b'\x80\x03]q\x00(K\x0eK\x0eK?K]KgK{K{K{K|K\xb1...,b'\x80\x03]q\x00(K\x01K\x01K\x07K\x06K\x07K\x0...,b'\x80\x03]q\x00(K\xaeK\xaeK\x9dK\xaeK\xaeK\x0...,b'\x80\x03]q\x00(G\xbf9\xfbn\x8b\xa2\xe0\x98G\...,-0.121471,0.086415,0.616961,-1.106562
7,1531696,2018-10-20 20:45:07,b'\x80\x03]q\x00(X\x10\x00\x00\x0000757137GTB5...,6,b'\x80\x03]q\x00(K\xb1K\xb1M\x08\x01M\x14\x02e.',b'\x80\x03]q\x00(K\x01K\x01K\x08K\x07e.',b'\x80\x03]q\x00(KqK\x00KKK\x00e.',b'\x80\x03]q\x00(G\xbf\xcd\x91)\xf7\x7f\xff\xf...,0.045416,0.013219,0.178045,-0.562482
8,1510136,2019-02-15 10:27:06,b'\x80\x03]q\x00(X\x10\x00\x00\x00003504281001...,4,b'\x80\x03]q\x00(K\xb8K\xb8M\x05\x02e.',b'\x80\x03]q\x00(K\x01K\x01K\x04e.',b'\x80\x03]q\x00(K<K<K<e.',b'\x80\x03]q\x00(G\xbf\xc2\x1f\xf5\x03\xff\xff...,-0.027047,-0.011694,-1.532166,0.507073
9,735670,2018-10-20 21:45:20,b'\x80\x03]q\x00(X\x0e\x00\x00\x0000288952CN51...,1,b'\x80\x03]q\x00(K\x9fMo\x01e.',b'\x80\x03]q\x00(K\x04K\x05e.',b'\x80\x03]q\x00(K3KKe.',b'\x80\x03]q\x00(G\xbf\xd1\xcb\x84\x93\xff\xff...,0.119194,-0.014706,-0.820592,1.416474
10,1631793,2019-02-15 11:36:32,b'\x80\x03]q\x00(X\x10\x00\x00\x00007085420000...,3,b'\x80\x03]q\x00(M\xc3\x01M\xc3\x01e.',b'\x80\x03]q\x00(K\x08K\x08e.',b'\x80\x03]q\x00(K K\x7fe.',b'\x80\x03]q\x00(G?\xdbXt\xba\xff\xff\xfcG\xbf...,0.005714,-0.015527,-3.127772,0.862926
11,1648756,2019-02-15 12:05:25,b'\x80\x03]q\x00(X\r\x00\x00\x000019821759602q...,4,b'\x80\x03]q\x00(K]K]KtK{K{K{K{K{K{K|K|K|K|K\x...,b'\x80\x03]q\x00(K\x06K\x06K\x01K\x08K\x08K\x0...,"b'\x80\x03]q\x00(K;K;K\xcaK!K,K!K,K\xcaK4K\xbd...",b'\x80\x03]q\x00(G\xbf\xc9\xcd\xd3\xe1\xb6\xdb...,-0.029786,0.001955,0.132175,0.472473
12,1655389,2019-02-15 12:15:41,b'\x80\x03]q\x00(X\x0c\x00\x00\x00003430924117...,1,b'\x80\x03]q\x00(K\xb1K\xb1MC\x01M}\x01e.',b'\x80\x03]q\x00(K\x01K\x01K\x08K\x04e.',b'\x80\x03]q\x00(K\x00K~K\x00K~e.',b'\x80\x03]q\x00(G?\xdd\xf7\x15\\\xff\xff\xf6G...,-0.118408,0.028413,1.186902,-0.820104
13,1635720,2018-10-20 22:48:01,b'\x80\x03]q\x00(X\x0e\x00\x00\x00007506271148...,4,b'\x80\x03]q\x00(K\x89K\xb1K\xf9M\x16\x01M\xb0...,b'\x80\x03]q\x00(K\x02K\x01K\x08K\x04K\x04K\x0...,b'\x80\x03]q\x00(K2K K K K@K<K K\\K\xbdK\x00K\...,b'\x80\x03]q\x00(G\xbf\x991\xfcN\xc4\xec@G\xbf...,-0.054799,0.001026,0.259809,0.273219
14,1635706,2018-10-20 23:02:58,b'\x80\x03]q\x00(X\x10\x00\x00\x00007509012839...,7,b'\x80\x03]q\x00(M\x06\x02M\x06\x02e.',b'\x80\x03]q\x00(K\x01K\x01e.',b'\x80\x03]q\x00(K\x0eK\x0ee.',b'\x80\x03]q\x00(G?\xd0I\xafh\x00\x00\x08G\xbf...,-0.117804,-0.007314,0.196401,-0.602107
15,745308,2018-10-21 03:04:52,b'\x80\x03]q\x00(X\x10\x00\x00\x0000564807KH-1...,6,b'\x80\x03]q\x00(K\x1fKFKQK\x9dK\xb1K\xb1K\xb1...,b'\x80\x03]q\x00(K\x01K\x01K\x04K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\xc9K2KbK2K K K\xd8K K\xdeK ...,b'\x80\x03]q\x00(G?\xc4G\xb5\xa2ffoG\xbf\xean\...,-0.100136,0.027400,0.686145,-0.334866
16,1635227,2018-10-21 13:01:25,b'\x80\x03]q\x00(X\x0c\x00\x00\x00006560332500...,3,b'\x80\x03]q\x00(M\x89\x01M\x89\x01e.',b'\x80\x03]q\x00(K\x02K\x02e.',b'\x80\x03]q\x00(K\x9dK\x9de.',b'\x80\x03]q\x00(G?\xd3\xdb\x0b\x87\xff\xff\xf...,-0.038297,0.005827,0.722806,0.803278
17,1635823,2018-10-21 16:05:15,b'\x80\x03]q\x00(X\r\x00\x00\x0000043137TM-29q...,6,b'\x80\x03]q\x00(K\x1fK\x1fe.',b'\x80\x03]q\x00(K\x01K\x01e.',b'\x80\x03]q\x00(K\xb1K\xb1e.',b'\x80\x03]q\x00(G?\xfc\x1b\xf1\x1f\xff\xff\xf...,0.005509,0.002542,0.685555,1.092728
18,1513303,2019-02-15 16:04:04,b'\x80\x03]q\x00(X\x10\x00\x00\x00004770784154...,1,b'\x80\x03]q\x00(K\x1fK|K\xb8K\xc3K\xc3K\xc3M\...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\xb6K K K\xc9K\xc9K\xc9K\xc9e.',b'\x80\x03]q\x00(G?\xd5M\xd6)$\x92BG\xbf\xea\x...,-0.083651,0.007000,0.444022,-0.502245
19,1635875,2018-10-21 17:18:12,b'\x80\x03]q\x00(X\x0f\x00\x00\x0000694944HT27...,4,b'\x80\x03]q\x00(M\xb0\x01M\xb0\x01M\xb0\x01M\...,b'\x80\x03]q\x00(K\x04K\x04K\x04K\x04K\x04e.',b'\x80\x03]q\x00(K.KRKlK\xc3K\x00e.',"b""\x80\x03]q\x00(G\xbf\xca9\xc3|\xcc\xcc\xcbG?...",-0.093470,0.037365,1.151230,-0.180529
20,1534211,2019-02-15 16:33:29,b'\x80\x03]q\x00(X\x0f\x00\x00\x0000043137DAB_...,7,b'\x80\x03]q\x00(K\x1fK>K\xb1K\xc3e.',b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01e.',b'\x80\x03]q\x00(K\x06K\x06K\x06K\x8ee.',b'\x80\x03]q\x00(G?\xa6/\xfe\xff\xff\xff\xfeG\...,-0.119933,0.053874,1.880620,-2.258164
21,1655424,2019-02-15 15:45:22,b'\x80\x03]q\x00(X\x0f\x00\x00\x00007506271568...,8,b'\x80\x03]q\x00(M\x05\x02M\x05\x02e.',b'\x80\x03]q\x00(K\x04K\x04e.',b'\x80\x03]q\x00(K\x92K\x00e.',b'\x80\x03]q\x00(G?\xe11\xc3x\x00\x00\x04G\xbf...,-0.046299,-0.008956,0.053455,0.730891
22,1635877,2018-10-21 17:20:58,b'\x80\x03]q\x00.',4,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
23,1635889,2018-10-21 18:00:20,b'\x80\x03]q\x00.',5,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
24,878764,2019-02-15 17:36:08,b'\x80\x03]q\x00(X\x0e\x00\x00\x0000573510FHJ1...,1,b'\x80\x03]q\x00(K\x12K\x12K\x12K\x1fK\x1fK|K}...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,"b""\x80\x03]q\x00(K_KoKoKQKQK KRK K\\K\\K\\KxK\...",b'\x80\x03]q\x00(G\xbf\xc9\xce]\xac\xeb\x85\x1...,-0.084972,0.022801,1.114193,-0.538074
25,1591199,2019-02-15 18:41:07,b'\x80\x03]q\x00(X\x10\x00\x00\x00007187493070...,5,b'\x80\x03]q\x00(K=M\x08\x01M\x08\x01M\xc3\x01...,b'\x80\x03]q\x00(K\x08K\x08K\x08K\x08K\x08K\x0...,b'\x80\x03]q\x00(K3K6KfK\x93KfKfK\xdfK*K\x84K\...,b'\x80\x03]q\x00(G\xbf\xdd]\xa7\xa2*\xaa\xa2G\...,-0.059175,-0.008751,-0.960167,0.029830
26,1655445,2019-02-15 17:06:47,b'\x80\x03]q\x00(X\x11\x00\x00\x0000477078C118...,6,b'\x80\x03]q\x00(M\x05\x01M\x05\x01M\x05\x01M\...,b'\x80\x03]q\x00(K\x08K\x08K\x08K\x08K\x08e.',b'\x80\x03]q\x00(K\xb6K\xb6K\xb6KVKQe.',b'\x80\x03]q\x00(G?\xd6C.\x16ff`G\xbf\xb4\x14\...,-0.104203,-0.003700,0.340700,-0.138875
27,1635892,2018-10-21 18:30:06,b'\x80\x03]q\x00(X\x12\x00\x00\x0000477078C172...,4,b'\x80\x03]q\x00(M\x05\x01M\x05\x01M\x05\x01M\...,b'\x80\x03]q\x00(K\x08K\x08K\x08K\x08e.',b'\x80\x03]q\x00(K_K\x00K\x00K\xd4e.',b'\x80\x03]q\x00(G?\xe5\xd2i\x01\xff\xff\xfaG\...,-0.069044,-0.001154,0.480364,0.295273
28,1635662,2018-10-21 18:33:05,b'\x80\x03]q\x00(X\x0e\x00\x00\x0000481348MJ27...,3,b'\x80\x03]q\x00(M\x08\x01M\x08\x01M\x08\x01M\...,b'\x80\x03]q\x00(K\x08K\x08K\x08K\x08K\x08K\x0...,b'\x80\x03]q\x00(K\x00K\x00K\x00K\x00K\x00K\x0...,b'\x80\x03]q\x00(G\xbf\xd3{\x85EUUUG?\xcf\xeeS...,-0.123379,-0.015527,-1.063710,-1.086823
29,1650439,2019-02-15 19:16:50,b'\x80\x03]q\x00(X\x10\x00\x00\x00001819741335...,4,b'\x80\x03]q\x00(KfK\xb8MC\x01M\xb0\x01M\xb0\x...,b'\x80\x03]q\x00(K\x04K\x01K\x08K\x04K\x04K\x0...,b'\x80\x03]q\x00(K\x8bKqK\x95K\\K\xcdK^KbK\x8b...,b'\x80\x03]q\x00(G\xbf\xcc\xb2\x8cr\xaa\xaa\xb...,1.301336,0.002542,0.172416,3.948273
...,...,...,...,...,...,...,...,...,...,...,...,...
9970,800030,2017-11-20 19:53:26,b'\x80\x03]q\x00(X\r\x00\x00\x000034309213291q...,1,b'\x80\x03]q\x00(KjKjK\x9dK\xb1K\xb1K\xb1K\xb1...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K K K K\x95K\x95K%K\x8cK%K%K%...,"b'\x80\x03]q\x00(G\xbf\xd7\xd9""\x83\xf1L\x18G\...",-0.100880,0.017902,0.940006,-1.069571
9971,1668258,2019-04-30 15:25:42,b'\x80\x03]q\x00(X\x10\x00\x00\x00003504281001...,3,b'\x80\x03]q\x00(K K K K]KgKgKmKmKmKmK{K|K|K|K...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x06K\x07K\x0...,b'\x80\x03]q\x00(KNKNKNK\x00K K KNKNKNKNK\xbfK...,b'\x80\x03]q\x00(G\xbf\xda\xf3V~ffcG\xbf\xc2R\...,-0.102134,0.001063,0.360007,-0.176413
9972,855184,2019-04-30 15:47:05,b'\x80\x03]q\x00.',3,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9973,1668277,2019-04-30 16:53:30,b'\x80\x03]q\x00.',3,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9974,1668274,2019-04-30 17:04:04,b'\x80\x03]q\x00(X\x0c\x00\x00\x0000345941SD34...,7,b'\x80\x03]q\x00(K\xb6K\xb6K\xb6e.',b'\x80\x03]q\x00(K\x05K\x05K\x05e.',b'\x80\x03]q\x00(K\x00K\x0cK\x0ce.',b'\x80\x03]q\x00(G?\xeb\'\xad\xc0\x00\x00\x0bG...,0.005543,-0.004029,0.399369,1.097560
9975,1668282,2019-04-30 17:08:47,b'\x80\x03]q\x00.',4,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9976,1668290,2019-04-30 17:56:03,b'\x80\x03]q\x00(X\x10\x00\x00\x00002176905101...,2,b'\x80\x03]q\x00(K|K|K|K|K|K|K|K|K|K|K|K|K|K|K...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K\x15K\x15K\x15K\x15K\x15K\x1...,b'\x80\x03]q\x00(G\xbf\xce\x1e|3\x00\x00\x02G?...,-0.109640,-0.010462,-0.751754,-0.531596
9977,1668300,2019-04-30 18:39:22,b'\x80\x03]q\x00(X\x0e\x00\x00\x0000694944MO03...,3,b'\x80\x03]q\x00(M\xb0\x01M\xb0\x01M\xb0\x01e.',b'\x80\x03]q\x00(K\x04K\x04K\x04e.',b'\x80\x03]q\x00(K\x1bK@K\x00e.',b'\x80\x03]q\x00(G\xbf\xe2R\xd4\xd5UUYG\xbf\xe...,-0.120540,0.022253,1.175003,-0.767269
9978,1668306,2019-04-30 19:09:42,b'\x80\x03]q\x00.',1,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9979,1668243,2019-04-30 19:30:57,b'\x80\x03]q\x00(X\x10\x00\x00\x00007509016229...,7,b'\x80\x03]q\x00(KFK\xecM-\x01M\xb0\x01M\xb0\x...,b'\x80\x03]q\x00(K\x01K\x03K\x01K\x04K\x04K\x0...,b'\x80\x03]q\x00(K K\xd9KNKeKqK\x00K\x00K KNK e.',b'\x80\x03]q\x00(G\xbf\xca^\xa0\xcf338G\xbf\xe...,-0.102601,0.003363,0.253008,-0.421850
9980,1668279,2019-04-30 19:35:08,b'\x80\x03]q\x00(X\x13\x00\x00\x00006864484928...,5,b'\x80\x03]q\x00(M\x08\x01M\x08\x01M\x08\x01M\...,b'\x80\x03]q\x00(K\x08K\x08K\x08K\x08K\x08K\x0...,b'\x80\x03]q\x00(K\x00K5K\x0eK\x00KtK\x00K\x00...,b'\x80\x03]q\x00(G\xbf\xb2\x0e\xabq_\x15\xe5G?...,-0.074849,-0.012805,-0.935780,0.004508
9981,1668308,2019-04-30 19:39:25,b'\x80\x03]q\x00(X\x0c\x00\x00\x00003430922184...,4,b'\x80\x03]q\x00(K\xb1K\xb1e.',b'\x80\x03]q\x00(K\x01K\x01e.',b'\x80\x03]q\x00(K\xe2K\x00e.',b'\x80\x03]q\x00(G\xbf\xd9\x1a\x95\x9d\x7f\xff...,-0.083129,0.001721,0.377038,0.104128
9982,1668311,2019-04-30 20:08:10,b'\x80\x03]q\x00(X\r\x00\x00\x000000531792637q...,1,b'\x80\x03]q\x00(K\x06K\x06e.',b'\x80\x03]q\x00(K\x01K\x01e.',b'\x80\x03]q\x00(KWKWe.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,-0.100056,0.066604,1.175334,-0.150980
9983,1668323,2019-04-30 21:45:09,b'\x80\x03]q\x00(X\r\x00\x00\x000033513020311q...,2,b'\x80\x03]q\x00(K}K}K}K}K}K\xacK\xacK\xb1K\xc...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K6K6K6K\x00K\x00K6K6K6K6K6K6K...,"b""\x80\x03]q\x00(G\xbf\x91R\xc7[\xff\xff\xf7G\...",-0.119275,0.017325,0.763342,-0.774433
9984,1668348,2019-05-01 01:36:06,b'\x80\x03]q\x00(X\x0b\x00\x00\x0000343092788q...,3,b'\x80\x03]q\x00(K\rK{K}K\xb1K\xc3K\xc3K\xcaK\...,b'\x80\x03]q\x00(K\x01K\x08K\x01K\x01K\x01K\x0...,b'\x80\x03]q\x00(K#KfK6K%K6K\x00K6KjKBK\x00K\x...,b'\x80\x03]q\x00(G?\xdf\x80K\x97\x9fU[G?\xad\x...,0.056116,-0.013405,-0.803384,0.512566
9985,1571099,2019-05-01 10:06:30,b'\x80\x03]q\x00.',4,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9986,1668373,2019-05-01 11:31:20,b'\x80\x03]q\x00(X\x0c\x00\x00\x00000042316028...,5,b'\x80\x03]q\x00(K\x05K\xb1K\xb1K\xc2M\xc3\x01...,b'\x80\x03]q\x00(K\x01K\x01K\x01K\x05K\x08K\x0...,b'\x80\x03]q\x00(K\xdcK\x00K\xa5K\x92K\x00K\x0...,b'\x80\x03]q\x00(G\xbf\xa0Io_\xff\xff\xe6G?\x9...,-0.092578,-0.004576,0.059566,0.031375
9987,647681,2019-05-01 14:17:04,b'\x80\x03]q\x00(X\x0e\x00\x00\x00007387315029...,4,b'\x80\x03]q\x00(M\x08\x01M\x08\x01M\xf0\x01e.',b'\x80\x03]q\x00(K\x08K\x08K\x07e.',b'\x80\x03]q\x00(K\x00K\x00K\x00e.',b'\x80\x03]q\x00(G\xbf\xd7}\xa67\xff\xff\xffG?...,-0.116608,-0.013337,-0.686534,-0.569444
9988,1668393,2019-05-01 14:15:38,b'\x80\x03]q\x00.',1,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9989,642112,2019-05-01 16:47:20,b'\x80\x03]q\x00(X\r\x00\x00\x000073018620846q...,1,b'\x80\x03]q\x00(M\xe7\x01M\xe7\x01e.',b'\x80\x03]q\x00(K\x01K\x01e.',b'\x80\x03]q\x00(K\xacK\x00e.',b'\x80\x03]q\x00(G?\x98\x87\xc3\x00\x00\x00\x0...,-0.112470,-0.002386,0.440978,-0.370095
9990,349920,2019-05-01 16:43:18,b'\x80\x03]q\x00.',1,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9991,1505372,2017-11-21 09:58:13,b'\x80\x03]q\x00(X\r\x00\x00\x000063979310413q...,1,b'\x80\x03]q\x00(K}K\xf4M}\x01e.',b'\x80\x03]q\x00(K\x01K\x01K\x04e.',b'\x80\x03]q\x00(K K+K~e.',"b""\x80\x03]q\x00(G?\xda\xe6\x11\x7f\xff\xff\xf...",-0.114077,0.033204,1.422438,-1.768718
9992,403957,2019-05-01 18:52:57,b'\x80\x03]q\x00.',4,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9993,1668429,2019-05-01 19:03:12,b'\x80\x03]q\x00.',1,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9994,1668435,2019-05-01 19:12:28,b'\x80\x03]q\x00.',5,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9995,1668353,2019-05-01 19:34:23,b'\x80\x03]q\x00(X\x14\x00\x00\x0000147265totC...,4,"b""\x80\x03]q\x00(K\x04KQK{K\xd5M\x05\x01M\x19\...",b'\x80\x03]q\x00(K\x01K\x04K\x08K\x05K\x08K\x0...,b'\x80\x03]q\x00(KTK\xb6K\x06K\x13K\x00K\x00K\...,"b""\x80\x03]q\x00(G?\xd9\xe2\xb99\x00\x00\x08G\...",-0.022619,-0.006629,0.000609,0.565012
9996,1527309,2019-05-01 20:40:44,b'\x80\x03]q\x00(X\x0e\x00\x00\x0000690052LEG3...,5,b'\x80\x03]q\x00(Mx\x01Mx\x01M\xa6\x01M\xa6\x0...,b'\x80\x03]q\x00(K\x08K\x08K\x08K\x08e.',b'\x80\x03]q\x00(KdKdK\xc5K\x00e.',b'\x80\x03]q\x00(G\xbf\xaf\xd4\xa4g\xff\xff\xf...,-0.034248,-0.015527,-1.063710,0.764357
9997,1659085,2019-05-01 21:08:42,b'\x80\x03]q\x00.',3,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9998,478426,2019-05-01 23:04:50,b'\x80\x03]q\x00.',1,b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00.',b'\x80\x03]q\x00(G\x00\x00\x00\x00\x00\x00\x00...,0.000000,0.000000,0.000000,0.000000
9999,240860,2017-11-21 14:27:11,b'\x80\x03]q\x00X\x15\x00\x00\x000001611042602...,1,b'\x80\x03]q\x00K\x10a.',b'\x80\x03]q\x00K\x01a.',b'\x80\x03]q\x00K\x05a.',b'\x80\x03]q\x00(G?\xd4\xe7\xc7\xff\xff\xff\xf...,0.739130,-0.015527,-3.127772,3.291186

In [53]:
c.execute('''CREATE TABLE user_enc
             ([userid] text PRIMARY KEY, [datum_click] datetime, [clicked_before] blob, [usermkt_enc] integer, 
             [anbieterid_enc_user] blob, [anbietermarktplatz_enc_user] blob, [warengruppe_enc_user] blob, 
             [text_vec_user] blob, [preis_std_user] real, [minve_std_user] real, 
             [preis_log_std_user] real, [minve_log_std_user] real)''')

In [54]:
users_pickled.to_sql(name="user_enc",if_exists='append',con = conn, index = False)